**Import Libraries**

In [64]:
import pandas as pd
import numpy as np

**Read Excel Data**

In [65]:
df=pd.read_excel("/content/f1.xlsx")
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,7/1/2023 11:24:31 AM,Unnamed: 28,Unnamed: 29
0,Detail Transaction Totals List for,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Page 1 of 20,NaN
1,6/30/2023 to 6/30/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Code,NaN,Room,NaN,Account,NaN,NaN,Name,NaN,NaN,...,NaN,NaN,User,NaN,NaN,NaN,Time,NaN,NaN,Amount
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,150 - STATE TAX - GL Account: 299.20812.0000.2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
906,151,NaN,192,NaN,812-550313,NaN,NaN,"WRIGHT, AMIE ELIZABETH",NaN,NaN,...,NaN,NaN,RRI812,NaN,NaN,NaN,3:40,NaN,NaN,$2.23
907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Total for 6/30/2023,NaN,NaN,NaN,NaN,NaN,$227.59
908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Total for 151,NaN,NaN,NaN,NaN,$227.59
909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
910,RRI812 - Red Roof Inn & Suites Newark - Univer...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Page 20 of 20,NaN

In [66]:
df.shape

(911, 30)

**Drop Empty Rows & Cols**

In [68]:
df.dropna(axis=1, how='all', inplace=True)
df.dropna(axis=0, how='all', inplace=True)
df

,Unnamed: 0,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 7,Unnamed: 13,Unnamed: 14,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 26,7/1/2023 11:24:31 AM,Unnamed: 28,Unnamed: 29
0,Detail Transaction Totals List for,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Page 1 of 20,NaN
1,6/30/2023 to 6/30/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Code,Room,Account,NaN,Name,NaN,Comments,User,NaN,NaN,Time,NaN,NaN,Amount
4,150 - STATE TAX - GL Account: 299.20812.0000.2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6/30/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
905,151,120,812-139931,NaN,"WINDSOR, MELINDA RAE",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.67
906,151,192,812-550313,NaN,"WRIGHT, AMIE ELIZABETH",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.23
907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total for 6/30/2023,NaN,NaN,NaN,NaN,$227.59
908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total for 151,NaN,NaN,NaN,$227.59
910,RRI812 - Red Roof Inn & Suites Newark - Univer...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Page 20 of 20,NaN

In [69]:
df.shape

(852, 14)

**Assign Lengths**

In [71]:
df.columns=np.arange(1,len(df.columns)+1)

**Drop Top Two Rows**

In [72]:

df.drop(df.head(2).index,inplace=True)
df

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
2,Code,Room,Account,NaN,Name,NaN,Comments,User,NaN,NaN,Time,NaN,NaN,Amount
4,150 - STATE TAX - GL Account: 299.20812.0000.2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6/30/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,150,182,812-072143,NaN,"ADAMS, DEVIN",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$7.28
7,150,159,812-006829,NaN,"ANDERSON, SHAWN",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$5.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
905,151,120,812-139931,NaN,"WINDSOR, MELINDA RAE",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.67
906,151,192,812-550313,NaN,"WRIGHT, AMIE ELIZABETH",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.23
907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total for 6/30/2023,NaN,NaN,NaN,NaN,$227.59
908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total for 151,NaN,NaN,NaN,$227.59
910,RRI812 - Red Roof Inn & Suites Newark - Univer...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Page 20 of 20,NaN

**Drop Last One Row By Using Index**

In [73]:
df = df.drop(df.index[-1])
df

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
2,Code,Room,Account,NaN,Name,NaN,Comments,User,NaN,NaN,Time,NaN,NaN,Amount
4,150 - STATE TAX - GL Account: 299.20812.0000.2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6/30/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,150,182,812-072143,NaN,"ADAMS, DEVIN",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$7.28
7,150,159,812-006829,NaN,"ANDERSON, SHAWN",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$5.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904,151,243,812-546944,NaN,"WILLIAMS, BRIDGET",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.10
905,151,120,812-139931,NaN,"WINDSOR, MELINDA RAE",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.67
906,151,192,812-550313,NaN,"WRIGHT, AMIE ELIZABETH",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.23
907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total for 6/30/2023,NaN,NaN,NaN,NaN,$227.59
908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total for 151,NaN,NaN,NaN,$227.59

**Drop First Row By Using Index**

In [74]:
df = df.drop(df.index[1])
df

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
2,Code,Room,Account,NaN,Name,NaN,Comments,User,NaN,NaN,Time,NaN,NaN,Amount
5,6/30/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,150,182,812-072143,NaN,"ADAMS, DEVIN",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$7.28
7,150,159,812-006829,NaN,"ANDERSON, SHAWN",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$5.60
8,150,123,812-133725,NaN,"ANDING, BAHEERA",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$7.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904,151,243,812-546944,NaN,"WILLIAMS, BRIDGET",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.10
905,151,120,812-139931,NaN,"WINDSOR, MELINDA RAE",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.67
906,151,192,812-550313,NaN,"WRIGHT, AMIE ELIZABETH",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.23
907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total for 6/30/2023,NaN,NaN,NaN,NaN,$227.59
908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total for 151,NaN,NaN,NaN,$227.59

**Again Drop First Row**

In [75]:
df = df.drop(df.index[1])
df

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
2,Code,Room,Account,NaN,Name,NaN,Comments,User,NaN,NaN,Time,NaN,NaN,Amount
6,150,182,812-072143,NaN,"ADAMS, DEVIN",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$7.28
7,150,159,812-006829,NaN,"ANDERSON, SHAWN",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$5.60
8,150,123,812-133725,NaN,"ANDING, BAHEERA",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$7.15
9,150,165,812-409733,NaN,"ANDRADE, HEIDYKASSANDRA",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$7.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904,151,243,812-546944,NaN,"WILLIAMS, BRIDGET",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.10
905,151,120,812-139931,NaN,"WINDSOR, MELINDA RAE",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.67
906,151,192,812-550313,NaN,"WRIGHT, AMIE ELIZABETH",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.23
907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total for 6/30/2023,NaN,NaN,NaN,NaN,$227.59
908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total for 151,NaN,NaN,NaN,$227.59

**Drop Row at Index [-2]**

In [76]:
df = df.drop(df.index[-2])
df

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
2,Code,Room,Account,NaN,Name,NaN,Comments,User,NaN,NaN,Time,NaN,NaN,Amount
6,150,182,812-072143,NaN,"ADAMS, DEVIN",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$7.28
7,150,159,812-006829,NaN,"ANDERSON, SHAWN",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$5.60
8,150,123,812-133725,NaN,"ANDING, BAHEERA",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$7.15
9,150,165,812-409733,NaN,"ANDRADE, HEIDYKASSANDRA",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$7.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
903,151,128,812-746676,NaN,"WHITEHOUSE,CHRISTOPHER BRYAN",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.97
904,151,243,812-546944,NaN,"WILLIAMS, BRIDGET",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.10
905,151,120,812-139931,NaN,"WINDSOR, MELINDA RAE",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.67
906,151,192,812-550313,NaN,"WRIGHT, AMIE ELIZABETH",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.23
908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total for 151,NaN,NaN,NaN,$227.59

In [77]:
df = df.drop(df.index[-1])
df

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
2,Code,Room,Account,NaN,Name,NaN,Comments,User,NaN,NaN,Time,NaN,NaN,Amount
6,150,182,812-072143,NaN,"ADAMS, DEVIN",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$7.28
7,150,159,812-006829,NaN,"ANDERSON, SHAWN",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$5.60
8,150,123,812-133725,NaN,"ANDING, BAHEERA",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$7.15
9,150,165,812-409733,NaN,"ANDRADE, HEIDYKASSANDRA",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$7.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
902,NaN,NaN,NaN,NaN,ROSETTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
903,151,128,812-746676,NaN,"WHITEHOUSE,CHRISTOPHER BRYAN",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.97
904,151,243,812-546944,NaN,"WILLIAMS, BRIDGET",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.10
905,151,120,812-139931,NaN,"WINDSOR, MELINDA RAE",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.67
906,151,192,812-550313,NaN,"WRIGHT, AMIE ELIZABETH",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.23

In [79]:
df = df.replace('[()]', '', regex=True)
df

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
2,Code,Room,Account,NaN,Name,NaN,Comments,User,NaN,NaN,Time,NaN,NaN,Amount
6,150,182,812-072143,NaN,"ADAMS, DEVIN",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$7.28
7,150,159,812-006829,NaN,"ANDERSON, SHAWN",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$5.60
8,150,123,812-133725,NaN,"ANDING, BAHEERA",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$7.15
9,150,165,812-409733,NaN,"ANDRADE, HEIDYKASSANDRA",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$7.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
902,NaN,NaN,NaN,NaN,ROSETTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
903,151,128,812-746676,NaN,"WHITEHOUSE,CHRISTOPHER BRYAN",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.97
904,151,243,812-546944,NaN,"WILLIAMS, BRIDGET",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.10
905,151,120,812-139931,NaN,"WINDSOR, MELINDA RAE",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.67
906,151,192,812-550313,NaN,"WRIGHT, AMIE ELIZABETH",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.23

**Delete Rows At Specific Indices**

In [81]:
row_indices_to_delete = [37, 38, 39,40]
df = df.drop(df.index[row_indices_to_delete])
df

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
2,Code,Room,Account,NaN,Name,NaN,Comments,User,NaN,NaN,Time,NaN,NaN,Amount
6,150,182,812-072143,NaN,"ADAMS, DEVIN",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$7.28
7,150,159,812-006829,NaN,"ANDERSON, SHAWN",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$5.60
8,150,123,812-133725,NaN,"ANDING, BAHEERA",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$7.15
9,150,165,812-409733,NaN,"ANDRADE, HEIDYKASSANDRA",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$7.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
902,NaN,NaN,NaN,NaN,ROSETTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
903,151,128,812-746676,NaN,"WHITEHOUSE,CHRISTOPHER BRYAN",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.97
904,151,243,812-546944,NaN,"WILLIAMS, BRIDGET",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.10
905,151,120,812-139931,NaN,"WINDSOR, MELINDA RAE",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.67
906,151,192,812-550313,NaN,"WRIGHT, AMIE ELIZABETH",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.23

In [83]:
row_indices_to_delete = [38, 39,77,78,80,82,83,115,116,117,118,120,121,122,123,125,126,164,165,166,167,169,170,215,216,217,218,220,221,257,258,259,260,262,263, 272,273,274,275,277,278,299,300,301,302,304,305,]
df = df.drop(df.index[row_indices_to_delete])
df

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
2,Code,Room,Account,NaN,Name,NaN,Comments,User,NaN,NaN,Time,NaN,NaN,Amount
6,150,182,812-072143,NaN,"ADAMS, DEVIN",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$7.28
7,150,159,812-006829,NaN,"ANDERSON, SHAWN",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$5.60
8,150,123,812-133725,NaN,"ANDING, BAHEERA",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$7.15
9,150,165,812-409733,NaN,"ANDRADE, HEIDYKASSANDRA",NaN,STATE TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$7.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
902,NaN,NaN,NaN,NaN,ROSETTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
903,151,128,812-746676,NaN,"WHITEHOUSE,CHRISTOPHER BRYAN",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.97
904,151,243,812-546944,NaN,"WILLIAMS, BRIDGET",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.10
905,151,120,812-139931,NaN,"WINDSOR, MELINDA RAE",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.67
906,151,192,812-550313,NaN,"WRIGHT, AMIE ELIZABETH",NaN,COUNTY TAX,RRI812,NaN,NaN,3:40,NaN,NaN,$2.23

**Convert Excel To CSV File**

In [84]:
df.to_csv("file.csv")